<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>extab</title>
  <link rel="icon" href="favicon.png" type="image/png">

  <script src="browser-polyfill.min.js"></script>
  <script src="vue.min.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap&text=extab" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="tabs.css">
</head>

<body>
  <div id="app">
    <div class="header">
      <a class="logo" href="https://github.com/cozytnk/extab">extab</a>
      <span>{{ tabs.length }} tabs.</span>
      <input class="filter" type="text" placeholder="filter by title" v-model="filters.title">
      <input class="filter" type="text" placeholder="filter by url"   v-model="filters.url"  >
    </div>
    <div class="main tab-cards" :tabs="filteredTabs">
      <tab-card :id="tab.id" v-for="tab in filteredTabs" :key="tab.id" :tab="tab" :debug="debug" />
    </div>
    <div class="side">
      DEBUG<br>
      {{ settings }}<br>
      <button @click="debug ^= true">debug</button>
      <button id="reload">reload</button>
      <button id="log-storage">log-storage</button>
      <button id="clear-storage">clear-storage</button>
      <input type="number" placeholder="quality (1 ~ 100)" style="width: 100%;" @change="updateQuality">
    </div>
  </div>
  <script src="tabs.js"></script>
</body>