<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>extab</title>
  <link rel="icon" href="favicon.png" type="image/png">

  <script src="browser-polyfill.min.js"></script>
  <script src="vue.min.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap&text=extab" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="tabs.css">
</head>

<body>
  <div id="app">
    <div class="header">
      <a class="logo" href="https://github.com/cozytnk/extab">extab</a>
      <span>{{ tabs.length }} tabs.</span>
      <input class="filter" type="text" placeholder="filter by title" v-model="filters.title">
      <input class="filter" type="text" placeholder="filter by url"   v-model="filters.url"  >
    </div>

    <div class="main tab-cards" :tabs="filteredTabs">
      <tab-card :id="tab.id" v-for="tab in filteredTabs" :key="tab.id" :tab="tab" :debug="debug" />
    </div>

    <div class="side">
      <span>DEBUG/BETA</span>
      <select v-model="selectedWindowId">
        <option v-for="window in windows" v-bind:value="window.id">
          window {{ window.id }} {{ window.id === currentWindowId ? '(current)' : '' }}
        </option>
      </select>
      <span>{{ bytesInUse_XB }} used.</span>
      <span>{{ settings }}</span>
      <button @click="debug ^= true">debug</button>
      <button @click="updateAllTabs">reload</button>
      <input type="number" min="1" max="100" step="1" pattern="^[1-9][0-9]?$|^100$" placeholder="quality (1 ~ 100)" style="width: 100%;" @change="updateQuality">
    </div>
  </div>
  <script src="tabs.js"></script>
</body>